<div class="footer-bottom d-flex bg-primary">
  <p class="copyright justify-content-start">
    &copy; {{ 'now' | date: "%Y" }} Pfadibewegung Schweiz
  </p>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/de/f/kontakt/">Kontakt</a></li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "einreichen" %}active{% endif %}" href="{{ site.url }}/de/einreichen">Doku einreichen</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/de/f/impressum/">Impressum</a></li>
    <li class="nav-item"><a class="nav-link" href="https://db.scout.ch/de/users/sign_in">MiData</a></li>
  </ul>
</div>
