<div id="navbarMainMenu" class="collapse navbar-collapse mr-10">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "home" %}active{% endif %}" href="{{ site.url }}/de/">Einstieg</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "articles" %}active{% endif %}" href="{{ site.url }}/de/documentation">Dokumentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "faqs" %}active{% endif %}" href="{{ site.url }}/de/faq">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "releases" %}active{% endif %}" href="{{ site.url }}/de/release">Versionshinweise</a>
    </li>
  </ul>
</div>
