---
title: "Documentation"
subtitle: "Available articles in the documentary"
slug: articles
lang: en
---

{% assign articles = site.articles | where: "lang", "en" %}
{% assign categories =  articles | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "cat_sort" %}
{% for category in categories %}
	<h3>{{ category.name | capitalize }}</h3>
	{% assign posts = articles | where: "categories", category.name | sort: "date" | reverse  %}
	<ul>
		{% for article in posts %}
			{% assign tags = article.tags %}
			<li><a href="{{ article.url }}">{{ article.title }} ({{ page.relevance_title }} {{ article.relevance }})</a></li>
		{% endfor %}
	</ul>
{% endfor %}

