---
title: "Dokumentation"
slug: articles
lang: de
---

<div class="jumbotron">
  <h1>{{ page.title }}</h1>
  <p class="lead">Verfügbare Artikel in der Doku</p>
</div>
<div class="content">

  <h3>Articles</h3>
	{% assign articles = site.articles %}
	{% assign categories =  articles | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "name" %}
	{% for category in categories %}
		<h4>{{ category.name | capitalize }}</h4>
		{% assign posts = articles | where: "categories", category.name | sort: "date" | reverse  %}
		<ul>
			{% for article in posts %}
					<li><a href="{{ article.url }}">{{ article.title }} ({{ article.date | date: "%B %-d, %Y" }})</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
</div>
