---
title: "Dokumentation"
subtitle: "Verfügbare Artikel in der Doku"
slug: articles
lang: de
---

{% assign articles = site.articles | where: "lang", "de" %}
{% assign categories =  articles | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "cat_sort" %}
{% for category in categories %}
	<h3>{{ category.name | capitalize }}</h3>
	{% assign posts = articles | where: "categories", category.name | sort: "date" | reverse  %}
	<ul>
		{% for article in posts %}
			{% assign tags = article.tags %}
			<li><a href="{{ site.baseurl }}{{ article.url }}">{{ article.title }} ({{ page.relevance_title }} {{ article.relevance }}) <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg></a></li>
		{% endfor %}
	</ul>
{% endfor %}

