---
title: "Einstieg"
subtitle: "Videos für die einzelnen Benutzer"
slug: home
lang: de
---

{% assign introductions = site.introductions | where: "lang", "de" %}

<ul class="nav nav-tabs">
  {% for introduction in introductions %}
    <li class="nav-item"><a class="nav-link {% if forloop.index == 1 %} active{% endif %}" data-toggle="tab" href="#tab-{{ forloop.index }}">{{ introduction.title }}</a></li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for introduction in introductions %}
    <div id="tab-{{ forloop.index }}" class="tab-pane fade{% if forloop.index == 1 %} in active show{% endif %}">
      <h3>{{ introduction.title }}</h3>
      <p>{{ introduction.content}}</p>
    </div>
  {% endfor %}
</div>
