---
title: "Versionshinweise"
subtitle: "Release-Notes zu den letzten Updates"
slug: releases
lang: de
---

{% assign releases = site.releases | where: "lang", "de" %}
{% assign categories =  releases | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "name" | reverse %}
{% for category in categories %}
	<h3>{{ category.name | capitalize }}</h3>
	{% assign posts = releases | where: "categories", category.name | sort: "date" | reverse  %}
	<ul>
		{% for release in posts %}
			<li><a href="{{ site.url }}{{ release.url }}">{{ release.title }} | {{ release.date | date: "%d.%m.%Y" }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg></a></li>
		{% endfor %}
	</ul>
{% endfor %}

<h3>Archiv</h3>

<p>Ältere ReleaseNotes findest du im <a href="https://pfadi.swiss/de/publikationen-downloads/downloads/?search=Release&c=7&c=87&page=1" target="_blank">Downloadbereich von pfadi.swiss</a>.</p>

