---
---

body {
  margin: 0;
  padding: 0;
  background-color: #f8f7f6;
  color: #521d3a;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  min-width: 320px;
  min-height: 100vh;
}

body.nav-open {
  height: 100vh;
  overflow: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

main {
  display: block;
  padding-top: 21rem;
  min-height: calc(100vh - 24rem);
}

section {
  display: block;
}

header {
  display: block;
}

footer {
  display: block;
}

address {
  font-style: normal;
}

a {
  color: #521d3a;
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup {
  line-height: 0;
}

strong {
  font-weight: 700;
}

b {
  font-weight: 700;
}

h1 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 6rem;
  margin: 0 0 7.5rem;
}


input[type="text"],
input[type="search"],
input[type="date"],
input[type="email"],
input[type="file"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  outline: none;
  padding: 1rem;
}

.form-panel {

  .btn {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    background-color: #521d3a;
    border-radius: 0.4rem;
    color: #ffffff;
    padding: 0.6rem 2.3rem;

    &:disabled {
      cursor: pointer;
    }

    &:hover {
      background-color: #a48997;
    }
  }

  .btn[disabled] {
    cursor: pointer;
  }

  .btn-text {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    text-align: left;

    &:disabled {
      cursor: pointer;
    }

    svg {
      height: 2rem;
      vertical-align: middle;
      width: 2rem;
    }

    &:hover {
      color: #a48997;
    }
  }

  .btn-text[disabled] {
    cursor: pointer;
  }

  .tab-controls {
    .btn-tab {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      cursor: pointer;
      display: inline-block;
      font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 2rem;
      line-height: 1.5;
      outline: none;
      text-align: center;
      text-decoration: none;
      transition: all 0.3s;
      background-color: #a48997;
      color: #ffffff;
      border-radius: 0.4rem 0.4rem 0 0;
      font-weight: 300;
      margin-left: 2rem;
      min-width: 13rem;
      padding: 1rem;
      transition: all 0.3s;

      &:disabled {
        cursor: pointer;
      }

      &:hover {
        background-color: #521d3a;
        color: #ffffff;
      }
    }

    .btn-tab[disabled] {
      cursor: pointer;
    }

    .btn-tab.active {
      background-color: #ffffff;
      color: #521d3a;
      font-weight: 700;
    }
  }

  .tab-elements {
    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }
  }

  .tab-btn-offset {
    margin-top: 5rem;
  }

  .label {
    background-color: #521d3a;
    color: #ffffff;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.3rem 1.2rem;
  }

  .icon {
    display: inline-block;
    height: 3rem;
    padding: 0.5rem;
    width: 3rem;

    svg {
      max-height: 100%;
      max-width: 100%;
    }
  }

  .top-buttons {
    position: absolute;
    right: 2rem;
    top: 1.5rem;

    a {
      display: block;
    }
  }

  .list-striped {
    list-style: none;
    margin: 0;
    padding: 0;

    .header {
      font-weight: 600;
    }

    li {
      padding: 1rem;

      &:nth-of-type(even) {
        background-color: #ffffff;
      }

      form {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .text-right {
    text-align: right;
  }

  .flex-justify-end {
    justify-content: flex-end;
  }

  .flex-align-start {
    align-items: flex-start;
  }

  .accordion {
    .open {
      .accordion-body {
        max-height: 2000px;
        transition: max-height 6s;
      }
    }

    .accordion-header {
      cursor: pointer;
    }

    .accordion-body {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s;
    }
  }

  .page-header {
    background-color: #521d3a;
    color: #ffffff;
    height: 13rem;
    left: 0;
    padding: 1.5rem 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    .container {
      height: 100%;
      margin-bottom: 0;
      position: relative;
    }

    .logo {
      display: inline-block;
      height: 10rem;
      text-decoration: none;
      width: calc(100% / 3);

      img {
        height: 100%;
        max-width: none;
        width: auto;
      }
    }

    .navigation {
      align-items: center;
      display: flex;
      justify-content: space-between;
      float: right;
      height: 100%;
      margin-bottom: 0;
      position: relative;
      vertical-align: top;
      width: calc(100% / 3 * 2);
    }

    .links {
      text-align: right;
      width: calc(50% - 2rem);
    }

    .functions {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      width: calc(50% - 2rem);
    }

    .language-switch {
      li {
        &:first-child {
          margin-left: 0;
        }
      }
    }

    nav {
      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-left: 2rem;
        }

        a {
          display: inline-block;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            color: #a48997;
          }
        }
      }

      a {
        color: #ffffff;
      }
    }

    .icons {
      margin-left: 2.5rem;
    }
  }

  body.scrolled {
    .page-header {
      height: 8rem;

      .logo {
        height: 5rem;
      }
    }
  }

  #btn-menu {
    color: #ffffff;
    display: none;
    position: absolute;
    right: 2rem;
    top: 1rem;
    z-index: 1;

    &:hover {
      color: #a48997;
    }
  }

  #btn-message-mobile {
    display: none;
    padding: 1.3rem;
    position: absolute;
    right: 7rem;
    top: 1rem;
    z-index: 1;

    .badge {
      position: static;
    }
  }

  .page-footer {
    background-color: #521d3a;
    color: #ffffff;
    margin-top: 15rem;
    padding: 1.5rem 0;

    .col {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 2rem;
      }

      a {
        display: inline-block;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          color: #a48997;
        }
      }
    }

    a {
      color: #ffffff;
    }

    small {
      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: #a48997;
        }
      }
    }

    .versioninfo {
      white-space: nowrap;
    }
  }


  .table {
    border-spacing: 0;
    width: 100%;

    th {
      font-weight: 600;
      text-align: left;
      max-width: 250px;
      padding: 1rem;
    }

    td {
      max-width: 250px;
      padding: 1rem;
    }

    th.no-padding {
      padding: 0;
    }

    td.no-padding {
      padding: 0;
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #ffffff;
        }
      }
    }

    form {
      display: inline-block;
    }
  }

  .table-sortable {
    th {
      background-position: right 1rem center;
      background-repeat: no-repeat;
      background-size: 2rem 2rem;
      cursor: pointer;
      padding-right: 3rem;

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23521d3a' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41zm255-105L177 64c-9.4-9.4-24.6-9.4-33.9 0L24 183c-15.1 15.1-4.4 41 17 41h238c21.4 0 32.1-25.9 17-41z'%3E%3C/path%3E%3C/svg%3E");
      }
    }

    th[data-sort-method="none"] {
      cursor: default;
      padding-right: 1rem;

      &:hover {
        background-image: none;
      }
    }

    th[aria-sort="ascending"] {
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23521d3a' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'%3E%3C/path%3E%3C/svg%3E");
    }

    th[aria-sort="descending"] {
      background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23521d3a' d='M288.662 352H31.338c-17.818 0-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81 20.474-7.81 28.284 0l128.662 128.662c12.6 12.599 3.676 34.142-14.142 34.142z'%3E%3C/path%3E%3C/svg%3E");
    }
  }

  .table-draggable.drag-disabled {
    .grip-handle {
      display: none;
    }
  }

  .table-draggable {
    .grip-handle {
      cursor: move;
    }
  }
}
