<div class="footer-bottom d-flex bg-primary">
  <p class="copyright justify-content-start">
    &copy; {{ 'now' | date: "%Y" }} Swiss Guide and Scout Movement
  </p>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/fr/f/contact/">Contact</a></li>
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/fr/f/impressum/">Imprint</a></li>
    <li class="nav-item"><a class="nav-link" href="https://db.scout.ch/fr/users/sign_in">MiData</a></li>
  </ul>
</div>
