---
title: "Note di rilascio"
subtitle: "Release-Notes sugli ultimi aggiornamenti"
slug: releases
lang: it
---

{% assign releases = site.releases | where: "lang", "it" %}
{% assign categories =  releases | map: 'categories' | join: ',' | split: ',' | group_by: category | sort: "name" %}
{% for category in categories %}
	<h3>{{ category.name | capitalize }}</h3>
	{% assign posts = releases | where: "categories", category.name | sort: "date" | reverse  %}
	<ul>
		{% for release in posts %}
			<li><a href="{{ site.url }}{{ release.url }}">{{ release.title }} | {{ release.date | date: "%d.%m.%Y" }} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
			</svg></a></li>
		{% endfor %}
	</ul>
{% endfor %}

<h3>Archivio</h3>

<p>Le ReleaseNotes precedenti si trovano alla pagina <a href="https://pfadi.swiss/it/pubblicazioni-downloads/downloads/?search=Release&c=7&c=87" target="_blank">download di pfadi.swiss</a>.</p>

