<div class="footer-bottom d-flex bg-primary">
  <p class="copyright justify-content-start">
    &copy; {{ 'now' | date: "%Y" }} Mouvement Scout de Suisse
  </p>
  <ul class="nav justify-content-end">
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/it/f/contatto/">Contatto</a></li>
    <li class="nav-item"><a class="nav-link" href="https://pfadi.swiss/it/f/colofone/">Colofone</a></li>
    <li class="nav-item"><a class="nav-link" href="https://db.scout.ch/it/users/sign_in">MiData</a></li>
  </ul>
</div>
