<div id="navbarMainMenu" class="collapse navbar-collapse mr-10">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link {% if page.active-nav == "home" %}active{% endif %}" href="{{ site.baseurl }}it/">Initiation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.active-nav == "articles" %}active{% endif %}" href="{{ site.baseurl }}it/documentation">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.active-nav == "faqs" %}active{% endif %}" href="{{ site.baseurl }}it/faq">FAQ</a>
    </li>
  </ul>
</div>
