/* custom CSS-File */
/*-----------------*/

html, body {
	font-family: "Source Sans Pro",sans-serif;
}

/* colors */
.bg-primary {
    background-color: #521d3a !important;
}

.bg-secondary {
	background-color: #632949 !important;
}

/* typography */
a {
    color: white;
    opacity: 0.5;
}
a:focus,
a:hover,
a:active,
a.active {
	color: white;
  	opacity: 1;
}
h2,h3,h4,h5,h6 {
	color: #8c3c4f;
}
h3 {
	font-size: 35px;
	margin: 10px;
	padding-bottom: 0.4em
}
p, ul, li, a, span, div {
	line-height: 1.27;
	font-size: 15px;
}
@media (min-width:660px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 16.25px;
	}
}
@media (min-width:860px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 17.5px;
	}
}
@media (min-width:1100px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 18.75px;
	}
}
@media (min-width:1300px) {
	p, ul, li, a, span, div, h2 .btn {
		font-size: 20px;
	}
}

/* display, position */
.f-grow {
	flex-grow: 2;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.right {
	float: right;
}


/*-- Header --*/
	header {
		overflow: hidden;
	}

	.navbar-brand {
		opacity: 1;
	    margin-left: -40px;
	    position: relative;
	}

	.navbar-brand::after {
	 content:"";
	 position:absolute;
	 top:0;
	 left:0;
	 width:64px;
	 height:40px;
	 background:#521d3a;
	}

	.navbar {
		flex-grow: 2;
		padding: 0.1rem 0.5rem;
	}

	@media (min-width:660px) {
		.navbar-brand {
			margin-left:-54px;
		}
		.navbar-brand::after {
			width:84px;
			height:50px;
		}
	}
	@media (min-width:860px) {
		.navbar-brand {
			margin-left: 4%;
			margin-top: 10px;
	    	margin-bottom: 10px;
		}
		.navbar-brand::after {
			display:none
		}
	}
	@media (min-width:1100px) {
		.navbar-brand {
			margin-left: 5%;
		}
	}

	.navbar-brand img {
	    width: 120px;
	}

	.navbar-nav {
		justify-content: space-evenly;
		width: 100%;
	}

	.navbar-collapse {
		margin-right: 10%;
	}

	@media (min-width: 660px) {
		.navbar-brand img {
		    width: 160px;
		}
	}

	@media (min-width: 860px) {
		.navbar-brand img {
		    height: 70px;
		    width: auto;
		}
	}

	@media (min-width: 1100px) {
		.navbar-brand img {
		    height: 100px;
		}
	}
/*-- END Header --*/


/*-- Hero --*/
	.jumbotron {
		background-image: url(pfadi-illu.svg);
		background-position: center center;
		background-size: cover;
		background-color: #632949;
		width: 100%;
		position: relative;
		color: white;
		padding: 5rem 2.5rem;
		border-radius: 0;
		margin: 0;
	}

	.jumbotron h1 {
		font-size:2.5rem;
		font-weight: 600;
	}
	.jumbotron p {
		font-size: 1.5rem;
	}
	@media (min-width:660px) {
		.jumbotron h1 {
			font-size: 3rem;
		}
		.jumbotron p {
			font-size: 1.6rem;
		}
	}
	@media (min-width:860px) {
		.jumbotron h1 {
			font-size: 3.5rem;
			font-weight: 700;
		}
		.jumbotron p {
			font-size: 1.8rem;
		}
	}
	@media (min-width:1100px) {
		.jumbotron h1 {
			font-size: 4rem;
		}
		.jumbotron p {
			font-size: 2.1rem;
		}
	}
/*-- END Hero --*/


/*-- Content --*/
	.info {
		padding: 1.2rem 2.5rem;
		color: #fff;
	}
	ul {
		margin: 0;
		list-style: none;
		padding: 0;
	}
	ul > li {
		padding: 0.2rem 0;
	}
	.backlink {
		padding: 1rem 0;
		margin-bottom: 1rem;
	}
	.content {
		padding: 1.2rem 2.5rem;
		border: 2px solid #521d3a;
	}
	.content a {
		color: #8c3c4f;
	}
	.nav-link {
    padding: 0.8em 2em;
	}
	.nav-tabs {
		border-bottom: 1px solid #acacac;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #acacac #acacac #eaeaea;
	}
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #acacac #acacac rgb(241, 241, 241);
	}
	.card {
		background-color: initial;
		border: 0;
		border-bottom: 1px solid #000;
		border-radius: 0;
	}
	#accordionFAQ {
		margin: 1.5rem 0;
	}
	.accordion > .card:first-of-type {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	.card-header {
    padding: 0.3rem 0;
    margin-bottom: 0;
    background-color: initial;
    border-bottom: 0;
	}
	.btn.focus, .btn:focus {
    box-shadow: none;
	}
	.faq-title {
		margin: 0;
	}
	.faq-title .btn {
		color: #8c3c4f !important;
	}
/*-- Content --*/


/*-- Footer --*/
	.footer-bg {
		background-image: url(pfadi-illu-footer.svg);
		background-position: center center;
		background-size: cover;
		fill: #632949;
		width: 100%;
	}

	.footer-lang {
		padding: 0.6em;
		padding-right: 9%;
	}

	.nav-pills .nav-link {
		color: white;
		opacity: 1;
		margin: 0 5px;
		padding: 0.9em 1.8em;
	}

	.nav-pills .nav-link.active,
	.nav-pills .nav-link::hover {
	    color: #521d3a;
	    background-color: white;
	}

	.footer-bottom {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		justify-content: space-between;
		align-items: center;
		color: white;
		padding: 1.2rem 2.5rem;
	}

	.footer-bottom p {
		margin: 0;
	}

	@media (max-width:660px) {
		.nav-pills .nav-link {
			padding: 0.6em 1.2em;
			margin: 0 3px;
			font-size: 0.8rem;
		}
		.footer-bottom {
			font-size: 0.8rem;
		}
	}
/*-- END Footer --*/
