<div id="navbarMainMenu" class="collapse navbar-collapse mr-10">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "home" %}active{% endif %}" href="{{ site.url }}/fr/">Initiation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "articles" %}active{% endif %}" href="{{ site.url }}/fr/documentation">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "faqs" %}active{% endif %}" href="{{ site.url }}/fr/faq">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if page.slug == "releases" %}active{% endif %}" href="{{ site.url }}/fr/release">Notes de version</a>
    </li>
  </ul>
</div>
