<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title_de }}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="{{ 'assets/styles.css' | relative_url }}" rel="stylesheet" />
    <link href="../assets/styles.css" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<div class="container-lg">
  <header class="navbar navbar-dark bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ site.baseurl }}{{ page.lang }}">
        <img alt="Logo" src="{{ 'assets/logo.svg' | relative_url }}">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% include {{ page.lang }}/main_nav.html %}
    </nav>
  </header>

  <main role="main">
    <div class="jumbotron">
      <h1>{{ page.articles | capitalize }}</h1>
      <p class="lead">{{ page.title }} ({% for category in page.categories %}{{ category | capitalize}}{% endfor %})</p>
    </div>
    <div class="info bg-primary">
      <ul>
        <li class="relevance">{{ page.relevance_title }} {{ page.relevance }}</li>
      </ul>
    </div>
    <div class="content">
      <div class="backlink">
        <a href="{{ site.baseurl }}{{ page.lang }}/{{ page.articles }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> {{ page.backlink }}</a>
      </div>
      {{ content }}
    </div>
  </main>

  <footer>
    <div class="footer-bg"></div>
    <div class="footer-lang bg-secondary">
        <ul class="nav justify-content-end">
          <li class="nav-item"><a class="nav-link {% if page.lang == "de" %}active{% endif %}" href="{{ site.baseurl }}de/">Deutsch</a></li>
          <li class="nav-item"><a class="nav-link {% if page.lang == "fr" %}active{% endif %}" href="{{ site.baseurl }}fr/">Français</a></li>
          <li class="nav-item"><a class="nav-link {% if page.lang == "it" %}active{% endif %}" href="{{ site.baseurl }}it/">Italiano</a></li>
          <li class="nav-item"><a class="nav-link {% if page.lang == "en" %}active{% endif %}" href="{{ site.baseurl }}en/">English</a></li>
        </ul>
    </div>
    {% include {{ page.lang }}/footer.html %}
  </footer>
</div>
  </body>
</html>
