<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title_de }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link href="{{ 'assets/fonts/fonts.css' | relative_url }}" rel="stylesheet" />
    <!--<link href="../assets/fonts/fonts.css" rel="stylesheet" />-->
    <link href="{{ 'assets/styles.css' | relative_url }}" rel="stylesheet" />
    <!--<link href="../assets/styles.css" rel="stylesheet" />-->
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/favicon.png' | relative_url }}">
    <script
      src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
      integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
<div class="container-lg">
  <header class="navbar navbar-dark bg-primary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="{{ site.url }}/{{ page.lang }}">
        <img alt="Logo" src="{{ 'assets/logo.svg' | relative_url }}">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainMenu" aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% include {{ page.lang }}/main_nav.html %}
    </nav>
  </header>

  <main role="main">
    <div class="jumbotron">
      <h1>{{ page.title }}</h1>
      <p class="lead">{{ page.subtitle }}</p>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </main>

  <footer>
    {% include {{ page.lang }}/footer.html %}
  </footer>
</div>
  </body>
</html>
